{% extends "layout.html" %}

{% block content %}
<div class="p-3 mb-3 rounded-3 border shadow-sm text-center">
    <p class="lead">
        <a href="https://toolsadmin.wikimedia.org">https://toolsadmin.wikimedia.org</a> allows marking a tool as "disabled". Disabling a tool will immediately stop any running jobs including webservices and prevent maintainers from logging in as the tool. Disabled tools are archived and deleted after 40 days. Disabled tools can be re-enabled at any time prior to being archived
and deleted.
    </p>
</div>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Disabled</th>
        </tr>
    </thead>
    <tbody>
        {% for name, ddate in disabled|dictsort(false, 'value') %}
        <tr>
            <td>
                <a href="https://toolsadmin.wikimedia.org/tools/id/{{ name|urlencode }}">
                    {{ name }}
                </a>
            </td>
            <td>{{ ddate|days }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
